<h1> YES</h1>
<h3>Should be secret:<%= secret.secret %></h3>
<% for( var i = 0; i < secret.comments.length; i++){%>
<p><%= secret.comments[i].comment %></p>

<% } %>
<form method="POST" action='/notes/<%=secret._id %>'>
    <label> Note: </label>
    <input type="text" name="note">
    <input type="submit">
</form>