<html>
    <head> 
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script >$('document').ready(function(){
            
                   $('#people').click(function(){
                       alert('clickity')
                    $.get('/people', function(data){
                           console.log("got some people data: ", data)
                       }, 'json');

                   })
                })
                </script>
    </head>
<body>
    <h2>Here are all the users:</h2>
    <button id='people'> People</button>
    <button id='places'>Places</button>
</body>
</html>