<div class= "team">
  <h3> <a (click) = "roster()"> List </a><span> | </span><a (click) = "add()">Add Player</a></h3>
  <div *ngIf= "adding">
   <form #myForm = "ngForm" (submit)="newP();  myForm.reset()">
      <label> Name: </label>
      <input type="string" name="newPlayer.name" [(ngModel)] = "newPlayer.name">
      <label> Position: </label>
      <input type="string" name="newPlayer.position" [(ngModel)] = "newPlayer.position">
      <input type="submit">
   </form>
  </div>
  <div *ngIf="try">
    <div >
     <table>
       <tr>
         <th>Team Name</th>
         <th>Preferred Position</th>
         <th>Actions</th>
       </tr>
       <tr *ngFor = "let player of players">
         <td> {{player.name}}</td>
         <td> {{player.position}}</td>
         <td><button (click) = "delete(player._id)">Delete</button></td>
       </tr>

     </table>
    </div>
  </div>
</div>
