<div> 
  <div class="user1">
    <h2>Player 1</h2>
    <form #form1 ="ngForm" (submit)= "ready1()">
      <label> Github Username: </label>
      <input type="string" ngControl="name" name='guser1.name' [(ngModel)] = "guser1.name" required>
      <input  [disabled] = "!form1.form.valid" value= "Get User" type="submit">  
    </form>
  </div>
  <div class="user2">
    <h2>Player 2</h2>
    <form #formCtrl = "ngForm" (submit) = "ready2()" >
      <label>Github Username</label>
      
      <input type="string" ngControl="name" name="guser2.name" [(ngModel)] ="guser2.name" required>
      <input [disabled]= "!formCtrl.form.valid" type="submit" value="Get User">
    </form>
  </div>
</div>