<%= one.name%>
<form action="<%='/mongoose/edit/' +  one._id %>" method="POST" >
    <label> Edit Name:</label>
<input type="text" name='name'>
<label> Edit Age: </label>
    <input type="number" name='age'>
    <input type="submit">
</form>

<form action="<%='/delete/' + one._id %>" method="POST">
    
<input type='submit' value="Delete">
</form>